.main-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
}

.main-content h1 {
    flex: 0 0 auto;
    align-self: flex-start;
    margin: 0 0 20px 20px;
}

.player-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#controls {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px 0;
    border-top: 1px solid #eee;
}

#recording-timer, #playback-timer {
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}

#recording-visualizer, #playback-visualizer {
    width: 600px;
    height: 150px;
    position: relative;
    margin: 20px 0;
}

.bar {
    width: 5px;
    background: #888;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border-radius: 2.5px;
    margin-right: 5px;

    transition: transform 0.1s linear;
    will-change: transform;
}

#center-line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 5px;
    background: #888;
    transform: translateY(-50%);
}

.marker, .error-marker {
    width: 12px;
    height: 12px;
    background: #444;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.error-marker {
    background: #ff0000;
    z-index: 2;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
    pointer-events: none;
    transition: opacity 0.5s, transform 0.5s;
}

#controls {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

#controls button {
    width: 150px;
    height: 50px;
}

#controls #error-btn {
    width: 300px;
}