<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpeakPeak</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/menu.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="icon" type="image/png" href="../static/images/logo.png">
</head>
<body>
    {% include "partials/menu.html" %}
    <div class="main-content">
        <strong class="loading">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </strong>
        <a href="/record" class="record-button" id="recordButton">
            <i class="fas fa-microphone"></i>
            Начать запись
            <span class="hint">Нажмите на экран или Enter</span>
        </a>
    </div>
    
    <script>
        // Обработка нажатия клавиши Enter для начала записи
        document.addEventListener('keydown', function(event) {
            if (event.key === 'Enter') {
                // Перенаправляем на страницу записи
                window.location.href = '/record';
            }
        });
        
        // Добавляем обработку клика на весь экран
        document.addEventListener('DOMContentLoaded', function() {
            // Получаем элемент main-content
            const mainContent = document.querySelector('.main-content');
            
            // Добавляем обработчик клика, который перенаправляет на страницу записи
            mainContent.addEventListener('click', function(event) {
                // Проверяем, что клик не был по самой кнопке записи (чтобы избежать двойного срабатывания)
                if (!event.target.closest('#recordButton')) {
                    window.location.href = '/record';
                }
            });
        });
    </script>
</body>
</html>